<launch>

    <arg name="kp"        default="10"/>
    <arg name="alt"       default="10"/>    <!-- in m -->

    <node pkg="vision_landing" type="drone_controller_node" name="drone_controller_node" output="screen">
        <param name="kp"    value="$(arg kp)"/>   <!-- proporsional control -->
        <param name="alt"  value="$(arg alt)" />
    </node>

</launch>
