<launch>
	<include file="$(find mavros)/launch/apm.launch">
			<arg name="fcu_url" value="/dev/ttyACM0:57600" /> 
				<!-- <arg name="fcu_url" value="udp://127.0.0.1:14551@" /> -->
	</include>

	<include file="$(find video_stream_opencv)/launch/webcam.launch">
	</include>

	<include file="$(find fractal_marker)/launch/fractal_marker.launch">
	</include>

	<include file="$(find vision_landing)/launch/drone_controller.launch">
	</include>

    <node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen">
    </node>
</launch>
